<div id="activitys" class="row list-group">
  <% @results.each do |activity| %>
  <div class="item col-md-6">
    <div class="thumbnail">
      <% if activity.is_abac_author == true %>
        <div class="abac-tag">ABAC</div>
      <% end %>
      <%= image_tag("#{activity.images[:medium]}", alt: "", class: "group list-group-image") %>
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          <%= link_to(activity.title, "/galeria/#{activity.id}") %>
        </h4>
        <p class="group inner list-group-item-text">
          <%= activity.caption %>
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p style="text-align: center;"><i class="fa fa-heart"></i>: (<%= activity.total_favorites %>)</p>
        </div>
        <div class="col-md-6">
          <p style="text-align: center;"><i class="fa fa-comments"></i>: (<%= activity.total_comments %>)</p>
        </div>
        <div class="col-md-6">
          <p style="text-align: center;"><i class="fa fa-tasks"></i>: (<%= activity.total_implementations %>)</p>
        </div>
        <div class="col-md-6">
          <p style="text-align: center;"><i class="fa fa-copy"></i>: (<%= activity.total_remixes %>)</p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= pagination_links(@results, params_name: :page) %>