<%= content_tag('script', '', :src => "https://maps.google.com/maps/api/js?sensor=true&key=#{GoogleMaps.js_api_key}", :type => 'text/javascript') %>
<%= javascript_include_tag('google_maps') %>
<div class="container">
<div class="row">
<div class="col-md3">
<%= form_tag( { :controller => 'network_map_plugin_map' }, :id => 'map_form' ) do %>
    <%= hidden_field_tag('kind', params[:kind]) %>
    <%= labelled_form_field(_('Quem você deseja encontrar?'), text_field_tag(:query, @query)) %>
    <% total = filter_profiles(params[:query], ['people']).count %>
    <%= labelled_check_box(_('Membro Individual') + " (#{total})", 'types[]', :people, @types.include?('people'), {add_hidden: false}) %>
    <% @community_kinds.each do |kind| %>
      <% total = filter_profiles(params[:query], ["communities_#{kind.name}"]).count %>
      <%= labelled_check_box(kind.name + " (#{total})", 'types[]', "communities_#{kind.name}", @types.include?("communities_#{kind.name}"), {add_hidden: false}) %>
    <% end %>
    <% @enterprise_kinds.each do |kind| %>
      <% total = filter_profiles(params[:query], ["enterprises_#{kind.name}"]).count %>
      <%= labelled_check_box(kind.name + " (#{total})", 'types[]', "enterprises_#{kind.name}", @types.include?("enterprises_#{kind.name}"), {add_hidden: false}) %>
    <% end %>
<% end %>
</div>
<div class="col-md-9">
<%= render partial: 'search/google_maps'%> 
</div>
</div>
</div>

<%= javascript_include_tag 'plugins/network_map/filters' %>