<%= block_title(block.title, block.subtitle) %>

<div id="important-links-list" class="row">
  <% block.links.each do |link| %>
    <div class="col-md-6 link">
      <img src="<%= link.image.try(:public_filename) %>" alt="<%= link.name %> " class="link-img" />
      <div class="text-box">
        <a href="<%= link.address %>" target="_blank"><h5 class="link-text"><%= link.name %></h5></a>
        <p class="link-text"><%= link.description %></p>
      </div>
    </div>
  <% end %>
</div>
