<% @activity.implementations.each do |implementation| %>
<div class="implementations">
  <ul>
    <li>
      <% authors = implementation[:authors].map do |author| %>
          <% iauthor = environment.users.where(email: author[:email]).first %>
          <% if iauthor.present? %>
            <% link_to(iauthor.person.name, iauthor.person.url) %>
          <% else %>
            <% author[:name] %>
          <% end %>
      <% end.join(', ').html_safe %>
      <strong>Autor(es):</strong> <%= authors %>
    </li>
    <li><strong>Título da Implementação:</strong> <%= implementation[:place_implementation] %></li>
    <li><strong>Data da Implementação:</strong>
      <% date = DateTime.parse(implementation[:date_implementation]) %>
      <%= date.strftime('%d/%m/%Y') %>
    </li>
    <li><strong>Quantidade de Participantes:</strong> <%= implementation[:number_participants] %></li>
    <li><strong>Descrição da Implementação:</strong> <%= implementation[:description] %></li>
  </ul>

  <% if implementation[:authors].map { |author| author[:id] }.include?(session['activity_gallery_plugin_user_id']) %>
    <div class="row activity-exp-actions">
      <div class="edit">
        <%= modal_link_to(font_awesome(:edit, _('Edit')), {controller: 'activity_gallery_plugin_implementation', action: 'edit', implementation: implementation, activity_id: params[:id]}) %>
      </div>
      <div class="destroy">
        <%= link_to(font_awesome(:trash, _('Remove')), {controller: 'activity_gallery_plugin_implementation', action: 'destroy', id: implementation[:id], activity_id: params[:id]}, {data: {confirm: _('Você tem certeza que deseja excluir essa implementação?')}}) %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
