<% @activity.implementations.each do |implements| %>
<div class="implementations">
  <ul>
    <li>
      <strong>Autor(es):</strong>
      <% iauthor = environment.users.where(email: implements[:person][:email]).first %> <% if iauthor.present? %> <%=
      link_to(iauthor.person.name, iauthor.person.url) %> 
      <% else %>
        <%= implements[:person][:name] %>
      <% end %>
    </li>
    <li><strong>Título da Implementação:</strong> <%= implements[:place_implementation] %></li>
    <li><strong>Data da Implementação:</strong>
      <% require 'date' %>
      <% date = DateTime.parse(implements[:date_implementation]) %>
      <%= formatted_date = date.strftime('%d/%m/%Y') %>
    </li>
    <li><strong>Quantidade de Participantes:</strong> <%= implements[:number_participants] %></li>
    <li><strong>Descrição da Implementação:</strong> <%= implements[:description] %></li>
  </ul>
</div>
<% end %>
