<div class="form-title">Galeria de Atividades</div>

<div class="container">
  <div class="wrap">
    <div class="search">
      <%= form_tag("/galeria", method: :get) do %>
        <%= text_field_tag(:search, params[:search], class:"searchTerm") %>
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      <% end %>
    </div>
  </div>

  <div id="activitys" class="row list-group">
    <% @results.each do |activity| %>
      <div class="item  col-xs-6 col-lg-6">
        <div class="thumbnail">
          <%= image_tag("#{activity.images[:medium]}", alt: "", class: "group list-group-image") %>
          <div class="caption">
            <h4 class="group inner list-group-item-heading">
              <%= link_to(activity.title, "/galeria/#{activity.id}") %>
            </h4>
            <p class="group inner list-group-item-text">
              <%= activity.caption %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
      <%= pagination_links(@results, params_name: :page) %>
</div>
