<div class="form-title">Galeria de Atividades</div>

<div class="container">
  <div class="wrap">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="Qual atividade você procura?" />
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div id="activitys" class="row list-group">
    <% @results.each do |activity| %>
      <div class="item  col-xs-6 col-lg-6">
        <div class="thumbnail">
          <img class="group list-group-image" src="/designs/themes/rbac-prte/images/atividade.jpeg" alt="" />
          <div class="caption">
            <h4 class="group inner list-group-item-heading">
              <%= link_to("/galeria/item?id=#{activity[:id]}",:controller => "activity_gallery_plugin_activity", :action=> "item") do %> <%= activity[:attributes][:title]%> <%end%>
            </h4>
            <p class="group inner list-group-item-text">
              <%= activity[:attributes][:caption]%>
            </p>
            <p class="group inner list-group-item-text">
              <%= activity[:attributes][:motivation]%>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= pagination_links(@results, params_name: :page) %>

</div>
