<% extend ActivityGalleryPlugin::Helper %>

<div class="row show-activities">
  <div class="col-md-9" id="show-activity">
    <div class="form-title">Detalhes da Atividade</div>

    <div class="activity-title"><%= @activity.title %></div>

    <% if logged_in? %>
    <div class="row activity-exp-actions">
      <% like_class = @activity.favorited ? 'liked' : 'unliked' %>
      <div class="<%= like_class %>">
        <% like_text = @activity.favorited ? _('Curtida') : _('Curtir') %> <%= link_to(font_awesome(:heart, like_text),
        {controller: 'activity_gallery_plugin_activity', action: 'toggle_save', id: params[:id]}) %>
      </div>
      <div class="remix">
        <%= link_to(font_awesome(:copy, _('Remixar')), "/galeria/remixar-atividade/#{params[:id]}")%>
      </div>
      <div class="implement">
        <%= modal_link_to(font_awesome(:task, _('Implementei')), "/galeria/implementar-atividade/#{params[:id]}")%>
      </div>
      <% if @activity.is_author?(user) %>
        <div class="edit">
          <%= link_to(font_awesome(:edit, _('Editar')), "/galeria/remixar-atividade/#{params[:id]}")%>
        </div>
        <div class="destroy">
          <%= link_to(font_awesome(:trash, _('Remove')), {controller: 'activity_gallery_plugin_activity', action: 'destroy', id: params[:id]}, {data: {confirm: _('Você tem certeza que deseja excluir essa atividade?')}})%>
        </div>
      <% end %>
    </div>
    <% end %>

    <div class="thumbnail-item">
      <%= image_tag("#{@activity.images[:original]}", alt: "", class: "group list-group-image") %>
      <div class="caption">
        <p class="activity-text">
          <%= @activity.caption %>
        </p>
      </div>
    </div>
    <div class="about-actitivy">
      <!-- <div class="activity-title"><%= @activity.title %></div> -->
      <div class="activity-subtitle">Autor(es)</div>
      <p class="activity-text"></p>
      <ul>
        <% @activity.authors.each do |author| %>
          <% user_author = environment.users.where(email: author[:email]).first %>
          <% if user_author.present? %>
            <li><%= link_to(user_author.person.name, user_author.person.url) %></li>
          <% else %>
            <li><%= author[:name] %></li>
          <% end %>
        <% end %>
      </ul>
      <div class="activity-subtitle">Descrição</div>
      <p class="activity-text">
        <%= @activity.description %>
      </p>

      <div class="activity-subtitle">Motivação</div>
      <p class="activity-text">
        <%= @activity.motivation %>
      </p>

      <div class="activity-subtitle">Poderosas Ideias</div>
      <p class="activity-text">
        <%= @activity.powerful_ideas %>
      </p>

      <div class="activity-subtitle">Produtos</div>
      <p class="activity-text">
        <%= @activity.products %>
      </p>

      <div class="activity-subtitle">Escopos</div>
      <p class="activity-text"></p>
      <ul>
        <% @activity.scopes.each do |scope| %>
        <li><%= scope[:title] %></li>
        <% end %>
      </ul>

      <div class="activity-subtitle">Público Alvo</div>
      <p class="activity-text"></p>
      <ul>
        <% @activity.audiences.each do |audience| %>
        <li><%= audience[:name] %></li>
        <% end %>
      </ul>

      <div class="activity-subtitle">Pré-Requisitos</div>
      <p class="activity-text">
        <%= @activity.requirements %>
      </p>

      <div class="activity-subtitle">Atividade Publicada?</div>
      <p class="activity-text">
        <% if @activity.published == true %> Sim <% else %> Não <% end %>
      </p>

      <div class="activity-subtitle">Histórico</div>
      <p class="activity-text">
        <%= @activity.version_history %>
      </p>

      <div class="activity-subtitle">Copyright</div>
      <p class="activity-text">
        <%= @activity.copyright %>
      </p>

      <div class="activity-subtitle">Tipo de Licença</div>
      <p class="activity-text">
        <%= @activity.license_type %>
      </p>

      <div class="activity-subtitle">Tipos de Espaço</div>
      <p class="activity-text"></p>
      <ul>
        <% @activity.space_types.each do |space_type| %>
        <li><%= space_type[:title] %></li>
        <% end %>
      </ul>

      <div class="activity-subtitle">Organização do Espaço</div>
      <p class="activity-text">
        <%= @activity.space_organization %>
      </p>

      <div class="activity-subtitle">Passos para Implementação</div>
      <p class="activity-text">
        <%= @activity.implementation_steps %>
      </p>

      <div class="activity-subtitle">Materiais Gerais</div>
      <p class="activity-text"></p>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
            <% @activity.general_materials.each do |general_material| %>
            <tr>
              <td><%= general_material[:name] %></td>
              <td><%= general_material[:activity_general_materials][0][:quantity] || 0 %></td>
            </tr>
            <% end %>
        </tbody>
      </table>

      <div class="activity-subtitle">Materiais Específicos</div>
      <p class="activity-text">
        <%= @activity.specific_materials %>
      </p>

      <div class="activity-subtitle">Dicas sobre a implementação</div>
      <p class="activity-text">
        <%= @activity.implementation_tips %>
      </p>

      <div class="activity-subtitle">Reflexão e Avaliação</div>
      <p class="activity-text">
        <%= @activity.reflection_assessment %>
      </p>

      <div class="activity-subtitle">Duração</div>
      <p class="activity-text">
        <%= @activity.duration %>
      </p>

      <div class="activity-subtitle">Atividade Inspiradoras</div>
      <p class="activity-text"></p>
      <ul>
        <% @activity.inspirations.each do |inspiration| %>
        <li><%= link_to(inspiration[:title], (inspiration[:activity_two_id])) %></li>
        <% end %>
      </ul>

      <div class="activity-subtitle">Referências Externas</div>
      <p class="activity-text">
        <%= @activity.references %>
      </p>
    </div>
    <%= render partial: 'comment_form' %>
    <div class="comments">
      <%= render partial: 'comment', collection: @activity.comments %>
    </div>

  </div>
  <%= render partial: 'implementations' %>
</div>

<%= addthis_javascript(activity_url, @activity.title, @activity.description).html_safe %>
