<% jwt = session['activity_gallery_plugin_jwt'] %>

<div class="form-title">Inclusão de Atividade</div>
<div class="form-content">
  <%= hidden_field_tag "article[name]", Time.now.to_s %>
  <%= hidden_field_tag "success_back_to", "/galeria" %>
  <%= file_field_or_thumbnail(_('Imagem da Atividade:'), nil, 'article[image_builder]')%>
  <%= labelled_form_field(_('Título da Atividade'), text_area_tag('article[metadata][title]','',placeholder:'Título' )) %>
  <%= labelled_form_field(_('Subtitulo'), text_area_tag('article[metadata][caption]','',placeholder:'Sub titulo' )) %> 
  <%= labelled_form_field(_('Breve descrição'), text_area_tag('article[metadata][description]','',placeholder:'Descrição')) %>
  <%= labelled_form_field(_('Motivação'), text_area_tag('article[metadata][motivation]','',placeholder:'Motivação')) %>
  <%= labelled_form_field(_('Ideias'), text_area_tag('article[metadata][powerful_ideas]','',placeholder:'Ideias')) %>
  <%= labelled_form_field(_('Produtos'), text_area_tag('article[metadata][products]','',placeholder:'Produtos')) %>
  <%= labelled_form_field(_('Requerimentos'), text_area_tag('article[metadata][requirements]','',placeholder:'Requerimentos')) %>
  <%#= labelled_form_field(_('Publicado'), check_box_tag('article[metadata][published]', 1, false)) %>
  <%= labelled_form_field(_('Publicado')+': ', select_tag('article[metadata][published]', options_for_select([['Sim', '1'], ['Não', '0']]))) %>
  <%= labelled_form_field(_('Versão'), text_area_tag('article[metadata][version_history]','',placeholder:'Versão')) %>
  <%= labelled_form_field(_('Copyright'), text_area_tag('article[metadata][copyright]','',placeholder:'Copyright')) %>
  <%= labelled_form_field(_('Licença'), text_area_tag('article[metadata][license_type]','',placeholder:'Licença')) %>
  <%= labelled_form_field(_('Organização do Espaço'), text_area_tag('article[metadata][space_organization]','',placeholder:'Organização do Espaço')) %>
  <%= labelled_form_field(_('Passos para implementação'), text_area_tag('article[metadata][implementation_steps]','',placeholder:'Passos para Implementação')) %>
  <%= labelled_form_field(_('Dicas e anotações sobre implementação'), text_area_tag('article[metadata][implementation_tips]','',placeholder:'Dicas e anotações sobre implementação')) %>
  <%= labelled_form_field(_('Avaliação do Aluno'), text_area_tag('article[metadata][reflection_assessment]','',placeholder:'Avaliação do Aluno')) %>
  <%= labelled_form_field(_('Duração'), text_area_tag('article[metadata][duration]','',placeholder:'Duração')) %>
  <%= labelled_form_field(_('Escopo')+': ', select_tag('article[metadata][scopes]', options_for_select(ActivityGalleryPlugin::ActivityGallery.get_scopes_options(jwt)), {multiple: true})) %>
  <%= labelled_form_field(_('Audiência')+': ', select_tag('article[metadata][audience]', options_for_select(ActivityGalleryPlugin::ActivityGallery.get_audience_options(jwt)), {multiple: true})) %>
  <%= labelled_form_field(_('Tipos de Espaços')+': ', select_tag('article[metadata][space_types]', options_for_select(ActivityGalleryPlugin::ActivityGallery.get_space_types_options(jwt)), {multiple: true})) %>
  <%= labelled_form_field(_('Materiais')+': ', select_tag('article[metadata][general_materials]', options_for_select(ActivityGalleryPlugin::ActivityGallery.get_general_materials_options(jwt)))) %>
  <%#= labelled_form_field(_('Autores')+': ', select_tag('article[metadata][authors]', options_for_select(ActivityGalleryPlugin::ActivityGallery.get_authors_options(jwt)))) %>
  <%= labelled_form_field(_('Autores')+': ', token_input_field_tag('article[metadata][authors]', 'search-authors', {:controller => 'activity_gallery_plugin_activity', :action => 'search_authors'}, {:focus => false, :hint_text => _('Digite o nome do autor')})
  ) %>
</div>

<div class=" button-gallery">
  <input type="submit" name="commit" value="Save" class="button with-text icon-save hidden-submit submit" />
  <a class="button with-text icon-save" href="#" onclick="submit_form(this); return false;"><i class="fa fa-save" aria-hidden="true"></i>Save</a>

  <a class="button icon-cancel with-text" title="Cancel" href="http://localhost:3000/myprofile/adminuser">
    <i class="fa fa-times" aria-hidden="true"></i>Cancel</a>
</div>