<% jwt = session['activity_gallery_plugin_jwt'] %>

<div class="form-title">Inclusão de Atividade</div>
<div class="form-content">
  <div class="activity-subtitle">Sobre a Atividade</div>
  <%= hidden_field_tag "article[name]", Time.now.to_s %>
  <%= hidden_field_tag "success_back_to", "/galeria" %>
  <%= labelled_form_field(_('Título da Atividade'), text_area_tag('article[metadata][title]','',placeholder:'Título' )) %>
  <%= labelled_form_field(_('Subtitulo'), text_area_tag('article[metadata][caption]','',placeholder:'Sub titulo' )) %> 
  <%= file_field_or_thumbnail(_('Imagem de capa da Atividade:'), nil, 'article[image_builder]')%>
  <%= labelled_form_field(_('Autor(es)')+': ', token_input_field_tag('article[metadata][authors]', 'search-authors', {:controller => 'activity_gallery_plugin_activity', :action => 'search_authors'}, {:focus => false, :hint_text => _('Digite o nome do autor')})
  ) %>
  <%= labelled_form_field(_('Descrição'), text_area_tag('article[metadata][description]','',placeholder:'Descrição')) %>
  <%= labelled_form_field(_('Motivação'), text_area_tag('article[metadata][motivation]','',placeholder:'Motivação')) %>
  <%= labelled_form_field(_('Poderosas Ideias'), text_area_tag('article[metadata][powerful_ideas]','',placeholder:'Poderosas Ideias')) %>
  <%= labelled_form_field(_('Produtos esperados'), text_area_tag('article[metadata][products]','',placeholder:'Produtos esperados')) %>

  <%= labelled_form_field(_('Escopo')+': ', nil ) %>
  <% ActivityGalleryPlugin::Activity.get_scopes_options(jwt).map do |scope| %>
    <%= labelled_check_box(scope[0], 'article[metadata][scopes][]', scope[1], false, {add_hidden: false} )%>
  <% end %>

  <%= labelled_form_field(_('Público-alvo')+': ', nil ) %>
  <% ActivityGalleryPlugin::Activity.get_audience_options(jwt).map do |audience| %>
    <%= labelled_check_box(audience[0], 'article[metadata][audience][]', audience[1], false, {add_hidden: false} )%>
  <% end %>

  <%= labelled_form_field(_('Pré-requisitos'), text_area_tag('article[metadata][requirements]','',placeholder:'Pré-requisitos')) %>
  <%= labelled_form_field(_('Deseja publicar a atividade?')+': ', select_tag('article[metadata][published]', options_for_select([['Sim', '1'], ['Não', '0']]))) %>
  <%= labelled_form_field(_('Histórico'), text_area_tag('article[metadata][version_history]','',placeholder:'Histórico')) %>
  <%= labelled_form_field(_('Copyright'), text_area_tag('article[metadata][copyright]','',placeholder:'Copyright')) %>
  <%= labelled_form_field(_('Tipo de licença'), text_area_tag('article[metadata][license_type]','',placeholder:'Tipo de licença')) %>

  <div class="activity-subtitle">Implementação da Atividade</div>
  <%= labelled_form_field(_('Tipo de Espaço')+': ', nil ) %>
  <% ActivityGalleryPlugin::Activity.get_space_types_options(jwt).map do |space| %>
    <%= labelled_check_box(space[0], 'article[metadata][space_types][]', space[1], false, {add_hidden: false} )%>
  <% end %>

  <%= labelled_form_field(_('Organização do espaço'), text_area_tag('article[metadata][space_organization]','',placeholder:'Organização do espaço')) %>
  <%= labelled_form_field(_('Passos para a implementação'), text_area_tag('article[metadata][implementation_steps]','',placeholder:'Passos para Implementação')) %>
  <%= labelled_form_field(_('Materiais Gerais')+': ', nil ) %>
  <div class="general-materials">
    <div class="general-material-fields">
      <%= select_tag('article[metadata][general_materials][][id]', options_for_select(ActivityGalleryPlugin::Activity.get_general_materials_options(jwt)), include_blank: 'Selecione um material') %>
      <%= number_field_tag('article[metadata][general_materials][][quantity]', 0) %>
      <%= button_without_text(:trash, _('Delete'), '#') %>
    </div> 
  </div>
  <%= labelled_form_field(_('Materiais específicos'), text_area_tag('article[metadata][specific_materials]','',placeholder:'Materiais específicos')) %>
  <%= labelled_form_field(_('Dicas sobre a implementação'), text_area_tag('article[metadata][implementation_tips]','',placeholder:'Dicas sobre a implementação')) %>
  <%= labelled_form_field(_('Reflexão e avaliação'), text_area_tag('article[metadata][reflection_assessment]','',placeholder:'Reflexão e avaliação')) %>
  <%= labelled_form_field(_('Duração'), text_area_tag('article[metadata][duration]','',placeholder:'Duração')) %>
  
  <div class="activity-subtitle">Inspiração</div>
  <%= labelled_form_field(_('Inspiração')+': ', token_input_field_tag('article[metadata][inspirations]', 'search-inspiration', {:controller => 'activity_gallery_plugin_activity', :action => 'search_inspirations'}, {:focus => false, :hint_text => _('Digite o nome da atividade')})
  ) %>
  <%#= labelled_form_field(_('Inspiração'), text_area_tag('article[metadata][inspiration]','',placeholder:'Atividade inspirada em')) %>
  <%= labelled_form_field(_('Referências'), text_area_tag('article[metadata][references]','',placeholder:'Referências')) %>

</div>

<div class=" button-gallery">
  <input type="submit" name="commit" value="Save" class="button with-text icon-save hidden-submit submit" />
  <a class="button with-text icon-save" href="#" onclick="submit_form(this); return false;"><i class="fa fa-save" aria-hidden="true"></i>Salvar</a>

  <a class="button icon-cancel with-text" title="Cancel" href="#">
    <i class="fa fa-times" aria-hidden="true"></i>Cancelar</a>
</div>

<%= javascript_include_tag 'plugins/activity_gallery/cms' %>
