<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div id="activitys" class="row list-group">
            <% block.profile_activities(session['activity_gallery_plugin_jwt']).each do |activity| %>
            <div class="item col-md-3">
              <div class="thumbnail">
                <%= image_tag("#{activity.images[:medium]}", alt: "", class: "group list-group-image") %>
                <div class="caption">
                  <h4 class="group inner list-group-item-heading">
                    <%= link_to(activity.title, "/galeria/#{activity.id}") %>
                  </h4>
                  <p class="group inner list-group-item-text">
                    <%= activity.caption %>
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p style="text-align: center;"><i class="fa fa-heart"></i>: (<%= activity.total_favorites %>)</p>
                  </div>
                  <div class="col-md-6">
                    <p style="text-align: center;"><i class="fa fa-comments"></i>: (<%= activity.total_comments %>)</p>
                  </div>
                  <div class="col-md-6">
                    <p style="text-align: center;"><i class="fa fa-tasks"></i>: (<%= activity.total_implementations %>)</p>
                  </div>
                  <div class="col-md-6">
                    <p style="text-align: center;"><i class="fa fa-copy"></i>: (<%= activity.total_remixes %>)</p>
                  </div>
                </div>
              </div>
            </div>
            <% end %>

            <%= link_to('Ver Todas', "/profile/#{profile.identifier}/atividades") %>

          </div>
    </div>
  </div>
</div>
